html {
    height: 100%;
}

body {
    height: calc(100% - 2px);
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #AFAFAF;
}

.divHeader {
    width: 100%;
    background: #4c4a40;
    padding: 3px 0;
}
.divHeader img {
    margin-right: 5px;
    float: right;
    padding-top: 5px;
}
.divHeader label{
    margin-left: 5px;
    margin-top: 2px;
    color: #CFCFCF;
}

.divControls{
    margin: 20px 10px 5px 10px;
    text-align: center;
}
.divControls input{
    width: 234px;
}
.divControls button{
    width: 56px;
    padding:0;
}
.divControls div{
    margin-top: 5px;
}

.divTextArea{
    padding: 10px;
    height: calc(100vh - 125px);
}
.divTextArea textarea{
    width: calc(100% - 7px);
    height: 100%;
}