html {
    height: 100%;
}

body {
    height: calc(100% - 2px);
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #AFAFAF
}

.divMain{
  padding-bottom: 5px;
}

.divHeader {
    width: 100%;
    background: #1F1F1F;
    padding: 3px 0;
}
.divHeader img {
    margin-right: 5px;
    float: right;
    padding-top: 5px;
}
.divHeader label{
    margin-left: 5px;
    margin-top: 2px;
    color: #CFCFCF;
}

.divControls{
    margin: 20px 10px 10px 10px;
    text-align: center;
}

.divTextArea{
    padding: 10px;
    height: calc(100vh - 105px);
}
.divTextArea textarea{
    width: calc(100% - 7px);
    height: 100%;
}