button {
  font-weight: bold;
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
  font-size: medium;
}

.divMain{
  padding: 10px;
}

.divButtons {
  float:left;
  width: 300px;
  margin-right: 20px;
}

.divButtons textarea {
  height: calc(100vh - 75px);
  width: calc(100% - 6px);
  background-color: #3a3a3a;
  color: white;
  font-size: medium;
}

.divOutput{
  float:left;
  padding: 5px;
  width: calc(100% - 332px);
  height: calc(100vh - 45px);
  background-color: #252525;
  overflow-x: auto;
  border-color: #59618E;
  border-width: 1px;
  border-style: solid;
}

.divOutput input {
  margin-right: 10px;
  background-color: #36374A;
  color: white;
}