button {
  font-weight: bold;
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
  font-size: medium;
}

.divMain{
  padding: 10px;
}

.divButtons {
  float:left;
  width: 300px;
  margin-right: 20px;
}

.divButtons textarea {
  height: calc(100vh - 75px);
  width: calc(100% - 6px);
}

.divOutput{
  float:left;
  width: calc(100% - 320px);
  height: calc(100vh - 30px);
  overflow-x: auto;
  border-width: 0;
  padding: 0;
}

.divOutput textarea {
  height: calc(100vh - 40px);
  width: calc(100% - 10px);
}