body {
  background: black;
  color: yellow;
  font-family: Arial, sans-serif;
  color: white;
}

a:link, a:visited {
  color: red; 
  text-decoration: underline;
}

button {
  background: #f3d311;
  color: black;
}